<div class="wrapper">
  <h2 class="text-center">Appointment</h2>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <input matInput placeholder="Start time" formControlName="startTime" type="time"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="End time" formControlName="endTime" type="time"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="saveAppointment()" [disabled]="appointment?.status !== 'CREATED' && appointment?.status !== null">Save</button>
  </form>
</div>
