.sidebar-container {
  width: 100%;
  height: 100vh;
}

mat-list#menu {
  overflow-x: hidden;
  overflow-y: auto;

  mat-icon {
    margin: 0 auto;
  }

  mat-list-item {
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em !important;
  }

  mat-list-item.active {
    color: whitesmoke;
    background-color: #004d80;
  }

  .mat-slide-toggle .mat-slide-toggle-content {
    width: 100%;
  }
}

mat-list#menu {
  text-align: center;

  .sidebar-logo {
    cursor: pointer;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1em;
  }

  div.sidebar-logo {


    &:not(.small) {
      //background-image: url("../../assets/img/logo.png");
      background-position: left !important;
      padding: 16px;
      //margin-left: 16px;


      .logo-text {
        font-size: 50px;
        color: #0099ff;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #004d80;
      }
    }

    &.small {
      background-image: url("../../assets/img/logo.png");

      .logo-text {
        display: none;
      }

    }
  }

  mat-list-item {
    transition: all .2s ease-in;
    color: #004d80;
    background-color: transparent;

    &:hover {
      background-color: #004d80;
      color: whitesmoke;
    }

    &.active {
      background-color: #004d80;
      color: whitesmoke;
    }

  }

}
