<div class="main-content">
  <div class="login">
    <div class="menuHeader">
      <h1>Appointment</h1>
    </div>
    <form [formGroup]="form">
      <div class="input-username">
        <mat-form-field class="full-width username">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </div>
      <div class="input-password">
        <mat-form-field class="full-width password">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="socialBtns">
        <button mat-raised-button #loginBtn color="primary" (click)="login()" class="login-btn" [disabled]="!form.valid">LOGIN
          <span class="material-icons">send</span>
        </button>
<!--        <button mat-raised-button color="primary" routerLink="register" class="login-btn">SIGN UP</button>-->
        <button mat-raised-button class="googleBtn" (click)="loginWithSocial('google')">
          <img class="googleImg"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png">
          Continue with Google
        </button>
<!--        <button mat-raised-button class="facebookBtn" (click)="loginWithSocial('facebook')">-->
<!--          <img class="facebookImg"-->
<!--               src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png">-->
<!--          Continue with Facebook-->
<!--        </button>-->
      </div>
    </form>
  </div>
</div>
