@import "assets/styles/main-theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.disabled-date{
  opacity: .5 !important;
  pointer-events: none !important;
}


// Table start

table {
  justify-content: center !important;
  text-align: center !important;
  width: 100% !important;

  tr {
    cursor: default;
    transition: 150ms ease-out background-color;

    //&:hover {
    //  background-color: #add4fa;
    //}
  }
}

.mat-header-cell {
  font-size: 14px !important;
  color: #ffffff !important;
}

mat-paginator {
  font-size: 14px !important;
  height: 10% !important;
}

.mat-sort-header-container {
  justify-content: center;
}

.mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(0%) !important;
  color: white !important;
}


table {
  thead {
    background-color: #004d80 !important;
  }
}


.appointment-bold {
  color: $light-text;
  font-weight: bold;
  background: $appointment-background-color;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
}

